<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flatOrganizer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <!--deckleration of all activities in the app-->
        <activity
            android:name="com.example.flatOrganizer.LoginActivity"
            android:label="FlatOrganizer" >
            <!--Intent filter define when the activity is started, and what it is supposed to do (Input/Output)-->
            <intent-filter>
                <!--MAIN is the most basic action, and expects no input and has no output-->
                <action android:name="android.intent.action.MAIN" />
                <!-- with the category LAUNCHER, this acitivity is assigned to launch the app and listed in the system as
                an application launcher-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.flatOrganizer.SignupActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.example.flatOrganizer.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.example.flatOrganizer.AccountSettingActivity"
            android:label="@string/title_activity_account_setting"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
<!--Can also specify: permissions; hardware, software requirements-->